{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock title %}

{% block extrastyle %}

{% endblock extrastyle %}

{% block bodyclass %} hold-transition sidebar-mini layout-fixed {% endblock bodyclass %}

{% block content %}
      <div class="container-fluid">
        
        <div class="card card-outline card-light p-2">
          <div class="card-header">
            <h3 class="card-title">Visited Customers Analyics </h3>
            <div class="card-tools">
              <!-- Collapse Button -->
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
            <!-- /.card-tools -->
          </div>
          <!-- /.card-header -->
          <div class="card-body"><!--card-body collapse-->



        <div class="row">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-dark elevation-1"><i class="fas fa-walking"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">Visited Customers: Today</span>
                <span class="info-box-number">{{current_date_customer_support_count}}</span>
              </div>
            </div>
          </div>
           
  
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-dark elevation-1"><i class="fas fa-walking"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">Visited Customers: Weekly</span>
                <span class="info-box-number">{{weekly_customer_support_count }}</span>
              </div>
            </div>
          </div>
          


          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-dark elevation-1"><i class="fas fa-walking"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">Visited Customers: Monthly</span>
                <span class="info-box-number">{{monthly_customer_support_count}}</span>
              </div>
            </div>
          </div>




          
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-dark elevation-1"><i class="fas fa-users"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">Visited Customers: Annually</span>
                <span class="info-box-number">{{yearly_visited_customers_count }}</span>
              </div>
            </div>
          </div>
          </div>
          </div>
        </div>




        <div class="card card-outline card-secondary p-2">
          <div class="card-header">
            <h3 class="card-title">Affliction  </h3>
            <div class="card-tools">
              <!-- Collapse Button -->
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
            <!-- /.card-tools -->
          </div>
          <!-- /.card-header -->
          <div class="card-body"><!--card-body collapse-->


          <div class="row">


            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
                <span class="info-box-icon bg-dark elevation-1"><i class="fas fa-handshake"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">Affliction: Today</span>
                  <span class="info-box-number">{{current_date_affliction_count }}</span>
                </div>
              </div>
            </div>




            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
                <span class="info-box-icon bg-dark elevation-1"><i class="fas fa-handshake"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">Affliction: Weekly</span>
                  <span class="info-box-number">{{weekly_affliction_count}}</span>
                </div>
              </div>
            </div>



            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
                <span class="info-box-icon bg-dark elevation-1"><i class="fas fa-handshake"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">Affliction: Monthly</span>
                  <span class="info-box-number">{{monthly_affliction_count}}</span>
                </div>
              </div>
            </div>


            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
                <span class="info-box-icon bg-dark elevation-1"><i class="fas fa-handshake"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">Affliction: yearly</span>
                  <span class="info-box-number"> {{ yearly_affliction_count }}</span>
                </div>
              </div>
            </div>


            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
                <span class="info-box-icon bg-dark elevation-1"><i class="fas fa-coins"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">Affliction: Offered</span>
                  <span class="info-box-number">{{total_affliction_amount}}</span>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>


      
      <div class="card card-outline card-gray">
        <div class="card-header">
          <h3 class="card-title">Visited Customer by Frequency </h3>
          <div class="card-tools">
            <!-- Collapse Button -->
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          </div>
          <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body">

          {{ bar_graph_html|safe }}
        </div>
      </div>
        


      </div>
    </section>
  </div>
  {% endblock content %}

  {% block extra_scripts %}
  
    <!-- jQuery UI 1.11.4 -->
    <script src="{% static 'plugins/jquery-ui/jquery-ui.min.js' %}"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
      $.widget.bridge('uibutton', $.ui.button)
    </script>
  
  {% endblock extra_scripts %}

